
.botonSing {
  --primary-color: #86A8FF;
  --secondary-color: #fff;
  --hover-color: #5c8aff;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  width: 300px;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.4em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 5px rgba(46, 46, 46, 0.4);
}

.botonSing .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonSing .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.botonSing .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.botonSing:hover {
  background-color: var(--hover-color);
}

.botonSing:hover .arrow {
  background: var(--secondary-color);
}

.botonSing:hover .arrow:before {
  right: 0;
}

.singUp{
    font-family: 'Fredoka', sans-serif;
}